@model RoleViewModel
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 ">
                        <h3 class="mb-5">Create Role </h3>
                        <form asp-action="CreateRole" method="post">
                            <div asp-validation-summary="All" class=" alert-danger"></div>
                            <div class="form-outline mb-2">
                                <input type="text"  class="form-control form-control-lg input-text " asp-for="RoleName" />
                                <label class="form-label" asp-for="RoleName"></label>
                            </div>
                            
                            <button class="btn btn-success btn-lg btn-block" type="submit">Create Role</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


